html {
  font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1rem);
  /* 16px */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* colors  */

  --clr-accent: #1badd7;
  --clr-light-green: #dee9e6;
  --clr-dark: #3d4c57;
  --clr-light: #f2f2f2;
  --white: hsl(0, 0%, 100%);
  /* font */
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: "Fraunces", serif;
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

p {
  margin-block-end: 1rem;
  max-inline-size: 66ch;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-block-end: 1.035rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  line-height: 1.6rem;
}

h1 {
  margin-block-start: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.small-text {
  font-size: 0.8rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

img {
  display: inline-block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

:focus {
  outline: 1px solid var(--clr-accent);
  outline-offset: 0.25em;
  outline-style: dotted;
}

.container {
  width: 100%;
  max-inline-size: 80%;
  margin-inline: auto;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  opacity: 1;
  z-index: 1000;
}

.brand-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: 4px 6px 1px rgb(0 0 0 / 0.1), 2px 4px 2px rgb(0 0 0 / 0.1);
}

.brand__logo a {
  color: inherit;
}

.brand__logo span {
  color: var(--clr-accent);
  margin-left: 0;
}

.brand__menu {
  background: transparent;
  padding: 0.25em 0.5em;
  cursor: pointer;
  z-index: 1000;
  align-self: center;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2rem;
  height: 3px;
  background-color: var(--clr-dark);
  border-radius: 100vw;
  transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.open .brand__menu {
  position: fixed;
  right: 4em;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.open .hamburger {
  transform: rotate(0.624turn);
  background-color: var(--clr-accent);
}

.open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background-color: var(--clr-accent);
}

.open .hamburger::after {
  opacity: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
  transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.navlist-secondery {
  justify-self: flex-end;
}

.navlist {
  display: flex;
  flex-direction: column;
}

.navlist__item+.navlist__item {
  margin-block-start: 1em;
}

.navlist__item--link {
  text-transform: capitalize;
  color: inherit;
  padding: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.125rem;
  transition: 150ms cubic-bezier(0, 0.5, 0.5, 1);
}

.navlist__item--link:hover {
  border-block-end: 2px solid var(--clr-accent);
  padding-block-end: 0.5em;
  opacity: 0.65;
  color: var(--clr-accent);
}

.open .nav {
  transform: translateX(0);
}

.main {
  margin-block-start: 6em;
}

.hero {
  display: block;
  margin-block-start: 4em;
  padding-block-start: 4em;
  margin-block-end: 4em;
  border-radius: 0.5em;
  overflow: hidden;
}

.hero__text {
  padding: 1em;
  text-align: center;
  margin-block-end: 2em;
}

.hero__text--title {
  margin-block-start: 0;
  text-transform: capitalize;
  line-height: 1.2;
  max-inline-size: 20ch;
}

.hero__text p {
  max-inline-size: 60ch;
}

.hero__text p::first-letter {
  text-transform: uppercase;
  font-weight: 700;
}

.hero-img,
.recipe__content-img {
  max-block-size: 30em;
  inline-size: 100%;
  border-radius: 0.5em;
}

.hero-about {
  display: flex;
  flex-direction: column-reverse;

}

.cta-btn {
  font-size: 1.125em;
  display: inline-block;
  background-color: var(--clr-accent);
  padding: 0.5em 3em;
  color: var(--clr-light);
  border-radius: 100vw;
  border: 1px var(--clr-accent) solid;
  transition: 250ms cubic-bezier(0.5, 0, 0.5, 1);
  margin-block-start: 2em;
}

.cta-btn:hover {
  color: var(--clr-accent);
  transform: scale(1.1);
  background-color: inherit;
}

.recipes-section {
  display: block;
  text-align: center;
  padding-block: 2em;
}

.recipe-features {
  margin-block: 2em;
  padding: 1em;
  flex-wrap: wrap;
  gap: 0.5em;
}

.recipe-features>*:hover {
  background-color: var(--clr-accent);
  color: var(--white);
  transition: all 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.recipes-title {
  margin-inline: auto;
  padding-block: 0.5em;
  text-transform: capitalize;
}

.subtitle {
  text-transform: capitalize;
  padding-block: 1em;
  line-height: inherit;
}

.recipes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.125em;
  margin: 0;
  margin-block-end: 2em;
}

.card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  max-inline-size: 100%;
  transition: all 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.card:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.card img {
  width: 100%;
  block-size: 20em;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-text {
  padding: 2em;
  text-align: start;
}

.card-btn {
  text-transform: capitalize;
  color: var(--clr-accent);
  padding: 0.25em 0.75em;
}

.card-prep {
  opacity: 0.5;
  text-transform: capitalize;
  position: relative;
  z-index: -1;
  color: inherit;
}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2em;
  margin-block-end: 2em;
}

.testimone-qoute {
  width: 100%;
  text-align: start;
  padding-block: 1em;
  border-radius: 0.25em;
}

.testimone-qoute figcaption {
  text-align: right;
  font-style: italic;
  font-weight: 700;
  padding-inline-end: 1em;
  opacity: 0.65;
  position: relative;
  z-index: -1;
}

.img-profile {
  inline-size: 4em;
  block-size: 4rem;
  border: 0.125em solid var(--clr-accent);
  border-radius: 100vw;
  display: block;
  margin-inline: auto;
}

.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-end: 2em;
  width: 80%;
  margin: 0 auto;
  padding-inline: 1em;
  border-radius: 0.5em;
  margin-block-end: 2em;
}

.cta-title {
  color: var(--clr-accent);
  padding-block-end: 0;
}

.cta-section p {
  margin-block-end: 0;
}

.footer {
  width: 100%;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  text-align: center;
  padding: 4em;
}

/* index page styles end */

/* recipe pages styles*/
.recipe-card {
  display: flex;
}

.prep__list-item+.prep__list-item {
  padding-block-start: 1em;
}

/* contacts style start */
.banner-content {
  inline-size: 100%;
  block-size: 20em;
  border-radius: inherit;
  transition: all 150ms cubic-bezier(0.5, 0, 0.5, 1);
  position: relative;
  z-index: -1;
  
}

.banner-title {
  text-align: center;
  color: var(--clr-dark);
  text-shadow: 4px 6px 1px rgb(0 0 0 / 0.1), 2px 4px 2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.block-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
}

form {
  inline-size: 100%;
  font-size: 1rem;
  padding: 2em 1em;
  background-color: inherit;
  color: inherit;
  border-radius: 0.5em;
  margin-inline: auto;
  margin-block-end: 2em;
}

.form-container {
  inline-size: 95%;
  margin-inline: auto;
}

.form-group {
  margin-block-end: 1em;
}

.form-title {
  text-align: center;
  text-transform: capitalize;
  margin-block-end: 1em;
  color: var(--clr-accent);
}

.form-label {
  display: block;
  text-transform: capitalize;
  margin-block-end: 0.2em;
  text-align: start;
  /* padding-inline: 2em; */
}

.form-input {
  inline-size: 90%;
  border-radius: 0.5em;
  padding: 0.75em;
  border: transparent;
  background-color: var(--white);
}

.form-btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.75em 1em;
  border: transparent;
  border-radius: 0.25em;
  background-color: var(--clr-accent);
  text-transform: capitalize;
  transition: all 150ms cubic-bezier(0.5, 0, 0.5, 1);
  margin-block-start: 2em;
  inline-size: 45%;
  text-align: center;
}

::placeholder {
  font-family: inherit;
  color: inherit;
  opacity: 0.5;
  position: relative;
  z-index: 1;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  background-color: var(--white);
  padding-block: 2em;
  padding-inline: 2em;
  border-radius: 0.5em;
  text-align: center;
  text-transform: capitalize;
  inline-size: 100%;
}

.contacts-section {
  background-color: #1badd7;
  padding: 1em 2em;
}

.media-contacts {
  padding: 1em;
}

.media-link {
  font-size: 2em;
  color: var(--white);
}

.media-link+.media-link {
  margin-inline-start: 0.5em;
}

/* contact page style ends */
/* signup page */
.google-btn {
  display: block;
  color: inherit;
  background-color: inherit;
  border: 0.065em solid;
  inline-size: 90%;
}
.login-form {
 flex-direction: column;
  height: 100vh;
}
/* login html styles  */
input[type='checkbox'] {
  width: fit-content;
}


@media (min-width: 54em) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand-section {
    justify-content: flex-start;
  }

  .brand__menu {
    opacity: 0;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
    transition: inherit;
    width: fit-content;
    background-color: inherit;
    color: inherit;
    position: static;
    flex-grow: 1;
  }

  .navlist {
    flex-direction: row;
  }

  .navlist-primary {
    margin-inline: auto;
  }

  .contact-btn {
    font-size: inherit;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    margin-block-start: 0;
  }

  .contact-btn:hover {
    border-block-end: 0.135em solid var(--clr-dark);
  }

  .navlist__item+.navlist__item {
    margin-block-start: 0;
    margin-inline-start: 1em;
  }

  .hero {
    display: flex;
    gap: 1.125em;
  }

  .hero>* {
    flex-basis: 100%;
  }

  .hero__text {
    padding: 0;
    padding-inline-start: 1em;
    text-align: start;
    margin-block-end: 0;
  }

  .hero-about {
    flex-direction: row;

  }

  .recipes-wrapper {
    flex-direction: row;
    gap: 1.125em;
  }

  .card {
    max-inline-size: 20em;
  }

  .testimonial-wrapper {
    display: flex;
  }

  .testimonial-wrapper>* {
    flex-basis: 100%;
    margin: 0;
  }

  .testimone-qoute+.testimone-qoute {
    margin-inline-start: 1em;
  }

  /* recipe pages  styles*/

  .recipe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "recipe-header recipe-header"
      "recipe-content recipe-content"
      "cta-section recipe-ingredient ";
    gap: 1em;
  }

  .recipe-header {
    grid-area: recipe-header;
  }

  .recipe-content {
    grid-area: recipe-content;
    display: grid;
    grid-template-columns: inherit;
    gap: inherit;
  }

  .recipe-ingredients {
    grid-area: recipe-ingredient;
  }

  /* contacts page styles  */
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .address {
    grid-row: 1/3;
    z-index: -1;
    align-self: end;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.5em;
    block-size: 30em;
  }

  .contacts-section {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}


@media (min-width: 75.5em) {
  .html {
    font-size: 1.125rem;
  }

  .hero__text--title {
    font-size: 3.5rem;
    max-inline-size: 15ch;
  }

  .hero__text {
    align-self: center;
  }

  .hero__img {
    max-block-size: 80vh;
  }


  .card {
    inline-size: clamp(25em, 0.75em + 1.5vw, 35em);
  }
}