html {
  font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1rem); /* 16px */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* colors  */

  --clr-accent: #1badd7;
  --clr-light-green: #dee9e6;
  --clr-dark: #3d4c57;
  --clr-light: #f2f2f2;
  /* font */
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: "Fraunces", serif;
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

p {
  margin-block-end: 1rem;
  max-inline-size: 66ch;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-block-end: 1.035rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  line-height: 1.3rem;
}

h1 {
  margin-block-start: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.small-text {
  font-size: 0.8rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

img {
  display: inline-block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

:focus {
  outline: 1px solid var(--clr-accent);
  outline-offset: 0.25em;
  outline-style: dotted;

}

.container {
  width: 100%;
  max-inline-size: 80%;
  margin-inline: auto;
}

header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.brand-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__logo {
  display: flex;
  font-size: 2rem;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  z-index: 1000;
}

.brand__logo span {
  color: var(--clr-accent);
  text-shadow: 4px 6px 1px rgb(0 0 0 / 0.1), 2px 4px 2px rgb(0 0 0 / 0.1);
}

.brand__menu {
  background: transparent;
  padding: 0.25em 0.5em;
  cursor: pointer;
  z-index: 1000;
  align-self: center;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2rem;
  height: 3px;
  background-color: var(--clr-dark);
  border-radius: 100vw;
  transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.open .brand__menu {
  position: fixed;
  right: 4em;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.open .hamburger {
  transform: rotate(0.624turn);
  background-color: var(--clr-accent);
}

.open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background-color: var(--clr-accent);
}

.open .hamburger::after {
  opacity: 0;
}

.nav {
 display: flex;
  justify-content: center;
  align-items: center; 
  transform: translateX(100vw);
  transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.navlist {
  display: flex;
  flex-direction: column;
}

.navlist__item + .navlist__item {
  margin-block-start: 1em;
}

.navlist__item--link {
  text-transform: capitalize;
  color: inherit;
  padding: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.125rem;
  transition: 150ms cubic-bezier(0, 0.5, 0.5, 1);
}

.navlist__item--link:hover {
  border-block-end: 2px solid var(--clr-accent);
  padding-block-end: 0.5em;
  opacity: 0.65;
  color: var(--clr-accent);
}

.open .nav {
  transform: translateX(0);
}

.main {
  margin-block-start: 6em;
}

.hero {
  display: block;
  margin-block-start: 4em;
  padding-block-start: 4em;
  margin-block-end: 4em;
  border-radius: 0.5em;
  overflow: hidden;
}



.hero__text {
  padding: 1em;
  text-align: center;
  margin-block-end: 2em;
}

.hero__text--title {
  margin-block-start: 0;
  text-transform: capitalize;
  line-height: 1.2;
  max-inline-size: 20ch;
}

.hero__text p {
  max-inline-size: 60ch;
}

.hero__text p::first-letter {
  text-transform: uppercase;
  font-weight: 700;
}

.cta-btn {
  font-size: 1.125em;
  display: inline-block;
  background-color: var(--clr-accent);
  padding: 0.5em 3em;
  color: var(--clr-light);
  border-radius: 100vw;
  border: 1px var(--clr-accent) solid;
  transition: 250ms cubic-bezier(0.5, 0, 0.5, 1);
  margin-block-start: 2em;
}

.cta-btn:hover {
  
  color: var(--clr-accent);
  transform: scale(1.1);
  background-color: inherit;
}

.recipes-section {
  display: block;
  text-align: center;
  padding-block: 2em;
}

.recipes-title {
  margin-inline: auto;
  padding-block: 0.5em;
  text-transform: capitalize;
}

.subtitle {
  text-transform: capitalize;
  padding-block: 1em;
}

.recipes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-block-end: 2em;
}

.card {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  max-inline-size: 100%;
  transition: all 250ms cubic-bezier(0.5, 0, 0.5, 1);

}

.card:hover {
 background-color: var(--clr-light-green);
 opacity: 0.7;
}

.card img {
  width: 100%;
  block-size: 20em;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-text {
  padding: 2em;
  text-align: start;
}
.card-btn {
  text-transform: capitalize;
color: var(--clr-accent);
}

.card-prep {
  opacity: 0.5;
  text-transform: capitalize;

}

.testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2em;
  margin-block-end: 2em;
}

.testimone-qoute {
  width: 100%;
  text-align: start;
  padding-block: 1em;
  border-radius: 0.25em;
}

.testimone-qoute figcaption {
  text-align: right;
  font-style: italic;
  font-weight: 700;
  padding-inline-end: 1em;
}

.img-profile {
  inline-size: 4em;
  block-size: 4rem;
  border: 0.125em solid var(--clr-accent);
  border-radius: 100vw;
  display: block;
  margin-inline: auto;
}

.cta-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-block-end: 2em;
width: 80%;
margin: 0 auto;
padding-inline: 1em;
border-radius: 0.5em;
margin-block-end: 2em;
}
 .cta-title {
  color: var(--clr-accent);
padding-block-end: 0;
} 
.cta-section p {
margin-block-end: 0;
}

.footer {
  width: 100%;
  color: var(--clr-light);
background-color: var(--clr-dark);
text-align: center;
padding: 4em;
}

@media (min-width: 54em) {

  .header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }

  .brand-section {
    justify-content: flex-start;  
  }

  .brand__menu {
   opacity: 0;
  }

  .nav {
    transform: translateX(0);
    transition: inherit;
    width: fit-content;
    background-color: inherit;
    color: inherit;
  position: static;
  }
  
  .navlist {
    flex-direction: row;
  
  }

  .navlist__item + .navlist__item {
    margin-block-start: 0;
    margin-inline-start: 1em;
  }
  
  .hero {
    display: flex;
    gap: 1.125em;
  }

  .hero > * {
    flex-basis: 100%;
  }

  .hero__text {
    padding: 0;
    padding-inline-start: 1em;
    text-align: start;
    margin-block-end: 0;
  }

  .recipes-wrapper {
    flex-direction: row;
    gap: 1.125em;
  }

  .card {
    max-inline-size: 20em;
  }

  .testimonial-wrapper {
    display: flex;
  }

  .testimonial-wrapper > * {
    flex-basis: 100%;
    margin: 0;
  }

  .testimone-qoute + .testimone-qoute {
    margin-inline-start: 1em;
  }
}

@media (min-width: 75.5em) {
  .html {
    font-size: 1.125rem;
  }

  .hero__text--title {
    font-size: 3.5rem;
    max-inline-size: 15ch;
  }

  .hero__text {
   align-self: center;
  }

  .hero__img {
    max-block-size: 80vh;
  }
  
  .card {
    inline-size: clamp(25em, 0.75em + 1.5vw, 35em);
  }
}
