html {
  font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1rem); /* 16px */
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* colors  */

  --clr-accent: #1badd7;
  --clr-light: #dee9e6;
  --clr-dark: #3d4c57;
  /* font */
}

body {
  background-color: #f2f2f2;
  color: var(--clr-dark);
  font-family: "Fraunces", serif;
  font-weight: 400;
  line-height: 1.65;
  margin: 0;
  padding: 0;
}

p {
  margin-block-end: 1rem;
  max-inline-size: 66ch;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-block-end: 1 035rem;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  line-height: 1.3rem;
}

h1 {
  margin-block-start: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

small,
.small-text {
  font-size: 0.8rem;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

img {
  display: inline-block;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.container {
  width: 100%;
  max-inline-size: 80%;
  margin-inline: auto;
}

header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f2f2f2;
  color: #3d4c57;
}

.brand-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__logo {
  display: flex;
  font-size: 2rem;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  z-index: 1000;
}

.brand__logo span {
  color: #1badd7;
  text-shadow:  4px 6px -1px rgb(0 0 0 / 0.1),  2px 4px -2px rgb(0 0 0 / 0.1); ;
}

.brand__menu {
  background: transparent;
  padding: 0.25em 0.5em;
  cursor: pointer;
  z-index: 1000;
  align-self: center;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2rem;
  height: 3px;
  background-color: var(--clr-dark);
  border-radius: 100vw;
  transition: 150ms cubic-bezier(0.5, 0, 0.5, 1);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.open .brand__menu {
  position: fixed;
  right: 4em;
}
.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.open .hamburger {
  transform: rotate(0.624turn);
  background-color: #1badd7;
}

.open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background-color: #1badd7;
}

.open .hamburger::after {
  opacity: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
  transition: 250ms cubic-bezier(0.5, 0, 0.5, 1);
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: #3d4c57;
  color: #dee9e6;
}

.navlist {
  display: flex;
  flex-direction: column;
}

.navlist__item + .navlist__item {
  margin-block-start: 1em;
}

.navlist__item--link {
  text-transform: capitalize;
  color: inherit;
  padding: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  transition: 250ms cubic-bezier(0, 0.5, 0.5 1);
}

.navlist__item--link:hover {
  border-block-end: 2px solid #1badd7;
  padding-block-end: 0.5em;
  opacity: 0.65;
  color: #1badd7;
}
.open .nav {
  transform: translateX(0);
}

.hero {
  display: block;
  margin-block-start: 10em;
  margin-block-end: 4em;
  border-radius: 0.5em;
   overflow: hidden; 
}
.hero__img {
  width: 100%;
  height: auto;
background-image: url('/imgs/hero.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
aspect-ratio: 2/1;
border-radius: inherit;
}

.hero__text {
  padding: 1em;
  text-align: center;
  margin-block-end: 2em;
}
.hero__text--title {
  margin-block-start: 0;
  text-transform: capitalize;
  line-height: 1.1;
  max-inline-size: 20ch;
}
.hero__text p {
  max-inline-size: 60ch;
}
.hero__text p::first-letter {
  text-transform: uppercase;
  font-weight: 700;
}

.cta-btn {
  font-size: 1.125em;
  display: inline-block;
  background-color: inherit;
  padding: 0.5em 3em;
  color: var(--clr-accent);
  border-radius: 100vw;
  border: 1px var(--clr-accent) solid;
  transition: 200ms cubic-bezier(0, 0.5, 0.5, 1);
  margin-block-start: 2em;
}

.cta-btn:hover {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  transform: scale(1.1);
}

.recipes-section {
display: block;
text-align: center;

margin: 0 auto;
}
.recipes-title {
grid-area: title;
margin-inline: auto;
padding-block: 1em;
text-transform: capitalize;
}
.subtitle {
  text-transform: capitalize;
  padding-block: 1em;
} 
.recipes-wrapper {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 1.125em;
margin-block-end: 2em;
} 

.card {
box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
0.125em 0.125em 0.25em rgba(0,0,0,.15);
border-radius: 0.5rem;
 max-inline-size: 100%; 
max-block-size: fit-content;
}

.card img {
  width: 100%;
  block-size: 20em;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-text {
padding: 2em;
}
@media (min-width: 54em) {
  .hero {
    display: flex;
    gap: 1.125em;
  }
  .hero>* {
    flex-basis: 100%;
  }
  .hero__text {
    padding: 0;
    padding-inline-start: 1em;
    text-align: start;
    margin-block-end: 0;
  }
  .recipes-wrapper {
    flex-direction: row;
    
    } 
    .card {
      max-inline-size: 20em;
      }

}
@media (min-width: 87.5em) {
    .card {
       max-inline-size: 35em; 
      }

}